@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,200&display=swap');
@import url('../css/bootstrap.css');
@import url('../css/bootstrap-theme.css');
@import url('owl.carousel.css');
@import url('owl.theme.default.css');
@import url('../web-fonts-with-css/css/fontawesome-all.css');

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

* {
  padding: 0;
  margin: 0;
}

.headerSection {
  background-image: url("../images/bgtitle.jpg");
  background-repeat: no-repeat;
  max-width: 1440px;
  margin: auto;
  @include max-screen(522px) {
    background-color: #16151b;
    background-image: none;
  }
}

header ul {
  list-style: none;
  text-align: right;
}

header ul li {
  display: inline-block;
  margin-left: 23px;
}

header ul li a {
  color: white;
  display: inline-block;
  font: 16px/68px 'Source Sans Pro';
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
}

header ul li:after {
  display: block;
  content: "";
  background-color: transparent;
  height: 2px;
  width: 42px;
  margin-top: -2px;
  margin-left: auto;
  margin-right: auto;
}

header ul li:hover:after, header ul li.active:after {
  background-color: #008ed6;
}

header ul li a:hover {
  color: white;
  text-decoration: none;
  border: none;
}


header ul li a:hover:after {
  display: block;
  content: "";
  background-color: transparent;
  height: 2px;
  width: 2px;
  margin-top: -2px;
  margin-left: auto;
  margin-right: auto;
}

header ul li a:hover:after, header ul li a.active:after {
  background-color: #16151b;
}

header #logo {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font: 24px/66px 'Quicksand';
}

h2 {
  margin-top: 30px;
  @include max-screen(522px) {
    margin-top: 20px;
  }
  @include max-screen(376px) {
    margin-top: 5px;
    font: 10px/20px 'Source Sans Pro';
  }
  color: #008ed6;
  font: 14px/48px 'Source Sans Pro';
  font-weight: 600;
  text-transform: uppercase;
}

header h3 {
  color: #ffffff;
}

h3 {
  font: 48px/48px 'Source Sans Pro';
  padding-bottom: 20px;
  @include max-screen(376px) {
    padding-bottom: 5px;
    font: 34px/34px 'Source Sans Pro';
  }
}

hr {
  border-top: solid 2px;
  width: 42px;
  margin: auto;
  color: #008ed6;
}

hr:after {
  display: block;
  content: "123";
  background-color: red;
  height: 2px;
  width: 2px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin-top: 40px;
  color: #999999;
  font: 18px/26px 'Source Sans Pro';
  margin-bottom: 67px;
  @include max-screen(522px) {
    margin-bottom: 20px;
  }
}

.btn-default.headerbutton {
  background-image: none;
  width: 160px;
  font: 14px/60px 'Source Sans Pro';
  text-transform: uppercase;
  color: white;
  text-align: center;
  border-radius: 4px;
  border: none;
  background-color: #008ed6;
  margin-right: 20px;
}

.btn-default.headerbutton2 {
  background-image: none;
  width: 160px;
  font: 14px/60px 'Source Sans Pro';
  text-transform: uppercase;
  color: white;
  text-align: center;
  border-radius: 4px;
  background-color: transparent;
  border: solid 1px #4c4b50;
  @include max-screen(376px) {
    margin-top: 20px;
  }
}

header form {
  margin-bottom: 110px;
  @include max-screen(522px) {
    margin-bottom: 40px;
  }
  @include max-screen(376px) {
    margin-bottom: 20px;
  }

}

.icon {
  margin-top: 73px;
  background-color: transparent;
  font-size: 26px;
  color: #008ed6;
  text-align: center;
}

.icon i {
  width: 100px;
  padding: 35px;
  border: solid 1px #e0e0e0;
  border-radius: 50%;
}


.col-lg-3 h4 {
  font: 24px 'Source Sans Pro';
  color: black;
  margin-top: 29px;
}

.col-lg-3 p {
  font: 18px/26px 'Source Sans Pro';
  color: #999999;
  margin-bottom: 77px;
}

#mobileimg {
  text-align: center;
}

.col-lg-6 #mobilep {
  margin-top: 64px;
  margin-bottom: 76px;
}

.col-lg-6 span {
  color: #1b1b1b;
  font: 18px/36px 'Source Sans Pro';
}

.col-lg-6 span i {
  color: #1899da;
  margin-right: 15px;
}

#grayfluid {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #f2f2f2;
  background-image: none;
  max-width: 1440px;
  margin: auto;
}

.owlbox {
  padding: 0;
}

.owl-carousel {
  position: relative;
}

.hrright {
  margin-left: 0;
}

.owl-carousel .owl-dots {
  width: 100%;
  text-align: center;
  margin-top: -79px;
  margin-bottom: 30px;
  @include max-screen(991px) {
    margin-top: -119px;
  }
  @include max-screen(739px) {
    margin-top: -151px;
  }
  @include max-screen(703px) {
    margin-top: -183px;
  }
  @include max-screen(570px) {
    margin-top: -79px;
  }
  @include max-screen(562px) {
    margin-top: -101px;
  }
  @include max-screen(535px) {
    margin-top: -123px;
  }
  @include max-screen(376px) {
    margin-top: -50px;
  }
}

.owl-carousel .owl-dots .owl-dot {
  font-size: 7px;
  margin: 7px;
  position: relative;
  @include max-screen(431px) {
    display: none;
  }
}

.owl-carousel .owl-dots .owl-dot:before {
  color: rgba(255, 255, 255, 0.3);
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

.owl-carousel .owl-dots .owl-dot.active {
  color: white;
  font-size: 10px;
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.owlcontainer, .owlcontainer2, .owlcontainer3, .owlcontainer4 {
  padding-top: 40px;
  @include max-screen(376px) {
    padding: 5px;
  }
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: top center;
  max-width: 1440px;
  min-height: 640px;
}

.owlcontainer {
  background-image: url("../images/bgtitle1.jpg");
}

.owlcontainer2 {
  background-image: url("../images/bgtitle2.jpg");
}

.owlcontainer3 {
  background-image: url("../images/bgtitle3.jpg");
}

.owlcontainer4 {
  background-image: url("../images/bgtitle4.jpg");
}

.carouselSection, .liketosee {
  margin: auto;
  max-width: 1440px;
}

.carouselSection h3 {
  color: white;
}

.owl-carousel .owl-item img {
  width: 60px;
  margin-right: 25px;
  display: inline-block;
  vertical-align: top;
}

.bigparagraph {
  font: 24px/32px 'Source Sans Pro';
  font-weight: 200;
  font-style: italic;
  color: white;
  @include max-screen(570px) {
    font-size: 18px;
    line-height: 22px;
  }
}

.smallparagraph {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  font: 16px/25px 'Source Sans Pro';
  font-weight: 600;

  span {
    text-transform: uppercase;
    font-size: 14px;
  }
}

.liketosee {
  background-color: #15141a;
  padding: 60px 0 60px;
}

.liketosee p {
  margin: 0;
  font: 28px/60px 'Source Sans Pro';
  font-weight: 400;

  span {
    font-weight: 600;
  }
}

.liketosee .btn-default.headerbutton2 {
  margin-right: 20px;
}

.liketosee .btn-default.headerbutton {
  margin-right: 0;
}

.smallblock {
  border: solid 1px gray;
  margin-top: 70px;
}

.smallblock h6 {
  font: 24px/48px 'Source Sans Pro';
  font-weight: 600;
  text-transform: uppercase;
}

.smallblock .price {
  padding-top: 30px;
  margin: 0;
  color: black;
  font: 60px 'Source Sans Pro';
  font-weight: 600;
  border-top: solid 1px gray;
}

.smallblock .price:before {
  font-size: 30px;
  vertical-align: top;
  content: "$";
}

.pricespan1 {
  font: 18px 'Source Sans Pro';
  padding-bottom: 39px;
  color: #999999;
  border-bottom: solid 1px gray;
  display: block;
  width: 100%;
}


.smallblock .pricetext {
  font: 18px/27px 'Source Sans Pro';
  font-weight: 400;
  color: #999999;
  margin-bottom: 47px;
  margin-top: 55px;
  padding: 0 25px 0 25px;

  span {
    color: #008ed6;
  }

}

.btn-default.headerbutton2.pricebutton {
  color: #008ed6;
  margin-bottom: 30px;
  border: solid 1px gray;
}

.smallblock:hover {
  h6 {
    color: #008ed6;
  }

  .price, .pricespan1 {
    background-color: #008ed6;
    color: white;
  }

  .pricebutton {
    background-color: #008ed6;
    color: white;
    border-color: transparent;
  }
}

.pricingSection {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.contactSection {
  background-color: #ededed;
  padding-bottom: 370px;
  max-width: 1440px;
  margin: auto;
  @include max-screen(1199px) {
    padding-bottom: 0;
  }
}

.contactSection i {
  margin-top: 59px;
  font-size: 32px;
  color: #008ed6;
}

.contactSection p {
  margin-top: 36px;
  font: 18px/26px 'Source Sans Pro';
  font-weight: 400;
  color: #999999;
}

.blackIcon {
  background-color: #15141a;
  position: absolute;
  max-width: 770px;
  top: 4670px;
  left: 24%;
  @include max-screen(1200px) {
    left: 18%;
  }
  @include max-screen(1199px) {
    position: static;
    margin: auto;
  }
}

.blackForm {
  padding: 60px 60px 40px 60px;

  input {
    text-transform: uppercase;
    margin-bottom: 20px;
    height: 48px;
    background-color: #15141a;
    color: rgba(255, 255, 255, 0.3);
    border: solid 1px rgba(255, 255, 255, 0.3);
  }

  textarea {
    padding-top: 14px;
    text-transform: uppercase;
    background-color: #15141a;
    color: rgba(255, 255, 255, 0.3);
    border: solid 1px rgba(255, 255, 255, 0.3);
    height: 185px;
  }
}

.blackForm .headerbutton {
  margin-right: 0;
  margin-left: 30px;
  @include max-screen(1199px) {
    margin-right: 0;
    margin-left: 0;
    margin-top: 20px;
  }
}

.mapsection {
  max-width: 1440px;
  margin: auto;
  height: 370px;
}

footer {
  background-color: #15141a;
  padding-top: 55px;
  padding-bottom: 46px;
  max-width: 1440px;
  margin: auto;
}

footer i {
  margin: 16px;
  color: rgba(255, 255, 255, 0.3);
  font-size: 18px;
  display: inline-block;
}

footer i:hover {
  color: #008ed6;
}

footer p {
  margin: 0;
  font: 14px/28px 'Source Sans Pro';
  font-weight: 600;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
}